<ol class="breadcrumb">
  <li><a href="/">home</a></li>
  <li class="active">monitor</li>
</ol>
<iframe frameborder="0" width="100%" height="1000" scrolling="auto" src="http://m1-dan-stat00.m1.baidu.com:8281/monitor"></iframe>
