<ol class="breadcrumb">
  <li><a href="/">home</a></li>
  <li class="active">help</li>
</ol>
<div class="jumbotron">
  <h1><small>本周Oncall</small><%= $oncall %></h1>
  <h4>下周: <%= $next_oncall %></h4>
  <hr/>
  <address>
    <strong>SDC: MA-OP</strong><br>
    Address: F5-B176 <br>
    HI: sdcop_oncall <br>
    Tel: 13651832128  <br>
    <a href="mailto:ma-op@baidu.com">ma-op@baidu.com</a><br>
  </address>
  <p><a href="/help/main" class="btn btn-primary" role="button">查看更多帮助</a></p>
</div>


