        <div 
          class="onechart" 
          display_style="relative" 
          title = "Nginx Flow"
          setting = "style_legend"
          url_type = "noah"
          url = 'http://infoquery.noah.baidu.com//crius/metis-visualize/index.php?r=Trend/getTrendData&callback=?&itemIdList%5B0%5D%5BitemId%5D=390166&itemIdList%5B0%5D%5Btype%5D=module&itemIdList%5B0%5D%5BitemName%5D=cb-nginx-flow_total&itemIdList%5B0%5D%5Bp_itemId%5D=59456&machineIdList%5B0%5D%5Bchecked%5D=true&machineIdList%5B0%5D%5Bid%5D=33045&machineIdList%5B0%5D%5Bname%5D=CB&machineIdList%5B0%5D%5Btype%5D=cluster&type=cluster&chartDataType%5B%5D=sum'
        >
        </div>

