<div class="col-md-6">
  <h4>总流量</h4>
  <div 
    class="onechart" 
    display_style="relative" 
    setting = "style_legend"
    url_type = "noah"
    url = 'http://infoquery.noah.baidu.com//crius/metis-visualize/index.php?r=Trend/getTrendData&callback=?&itemIdList[0][itemId]=416407&itemIdList[0][type]=module&itemIdList[0][itemName]=hy_ui_flow_total&itemIdList[0][p_itemId]=23859&machineIdList[0][checked]=true&machineIdList[0][id]=1092&machineIdList[0][name]=UI&machineIdList[0][type]=cluster&type=cluster&chartDataType[]=sum'
    >
  </div>
</div>


<div class="col-md-6">
  <h4>TC 流量</h4>
  <div
    class="onechart" 
    display_style="relative" 
    setting = "style_legend"
    url_type = "noah"
    url = 'http://infoquery.noah.baidu.com//crius/metis-visualize/index.php?r=Trend/getTrendData&callback=?&itemIdList[0][itemId]=416407&itemIdList[0][type]=module&itemIdList[0][itemName]=hy_ui_flow_total&itemIdList[0][p_itemId]=23859&machineIdList[0][id]=15279&machineIdList[0][name]=ui.HOUYI.tc&type=cluster&chartDataType[]=sum'
    >
  </div>
</div>

<div class="col-md-6">
  <h4>YF 流量</h4>
  <div 
    class="onechart" 
    display_style="relative" 
    setting = "style_legend"
    url_type = "noah"
    url = 'http://infoquery.noah.baidu.com//crius/metis-visualize/index.php?r=Trend/getTrendData&callback=?&itemIdList[0][itemId]=416407&itemIdList[0][type]=module&itemIdList[0][itemName]=hy_ui_flow_total&itemIdList[0][p_itemId]=23859&machineIdList[0][id]=15278&machineIdList[0][name]=ui.HOUYI.yf&type=cluster&chartDataType[]=sum'
    >
  </div>
</div>
<div class="col-md-6">
  <h4>M1 流量</h4>
  <div 
    class="onechart" 
    display_style="relative" 
    setting = "style_legend"
    url_type = "noah"
    url = 'http://infoquery.noah.baidu.com//crius/metis-visualize/index.php?r=Trend/getTrendData&callback=?&itemIdList[0][itemId]=416407&itemIdList[0][type]=module&itemIdList[0][itemName]=hy_ui_flow_total&itemIdList[0][p_itemId]=23859&machineIdList[0][id]=31343&machineIdList[0][name]=ui.HOUYI.m1&type=cluster&chartDataType[]=sum'
    >
  </div>
</div>
<div class="col-md-6">
  <h4>CQ 流量</h4>
  <div 
    class="onechart" 
    display_style="relative" 
    setting = "style_legend"
    url_type = "noah"
    url = 'http://infoquery.noah.baidu.com//crius/metis-visualize/index.php?r=Trend/getTrendData&callback=?&itemIdList[0][itemId]=416407&itemIdList[0][type]=module&itemIdList[0][itemName]=hy_ui_flow_total&itemIdList[0][p_itemId]=23859&machineIdList[0][id]=32066&machineIdList[0][name]=ui.HOUYI.cq&type=cluster&chartDataType[]=sum'
    >
  </div>
</div>
<div class="col-md-6">
  <h4>HZ 流量</h4>
  <div 
    class="onechart" 
    display_style="relative" 
    setting = "style_legend"
    url_type = "noah"
    url = 'http://infoquery.noah.baidu.com//crius/metis-visualize/index.php?r=Trend/getTrendData&callback=?&itemIdList[0][itemId]=416407&itemIdList[0][type]=module&itemIdList[0][itemName]=hy_ui_flow_total&itemIdList[0][p_itemId]=23859&machineIdList[0][id]=200002845&machineIdList[0][name]=ui.HOUYI.hz&type=cluster&chartDataType[]=sum'
    >
  </div>
</div>
